<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/narrow-jumbotron.css}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/director/applications">审批申请</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/director/bills">支付结算</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/director/statistics">查看统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">退出登录</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Hostel World <small>总经理</small></h3>
    </div>
    <nav class="navbar navbar-light bg-faded">
        未结算账单
    </nav>
    <table class="table table-hover" style="text-align: center">
        <thead>
        <tr>
            <th style="text-align: center">支付时间</th>
            <th style="text-align: center">分店</th>
            <th style="text-align: center">房号</th>
            <th style="text-align: center">类型</th>
            <th style="text-align: center">价格</th>
            <th style="text-align: center">住宿日期</th>
            <th style="text-align: center">支付方式</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bill : ${bills}" >
            <td th:text="${bill.date}"></td>
            <td th:text="${bill.branch.name}"></td>
            <td th:text="${bill.room.info.number}"></td>
            <td th:text="${bill.room.info.type}"></td>
            <td th:text=|${bill.total}元|></td>
            <td th:text="${bill.room.startDate}+' ~ '+${bill.room.leaveDate}"></td>
            <td th:text="${bill.payment}"></td>
            <td><a class="settle" href="" th:attr="billId=${bill.id}">结算</a></td>
        </tr>
        </tbody>
    </table>
    <br>

</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(".settle").bind('click',function (e) {
        e.preventDefault();
        $.ajax({
            type:"post",
            url:"/director/settle",
            data:{
                id: e.target.getAttribute('billId'),
            },
            success: function (success) {
                console.log(success);
//                alert("成功结算");
            },
            complete: function () {
                window.location.href = "/director/bills";
            },
        });
    });
</script>
</body>
</html>