<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/narrow-jumbotron.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/accommodate">入住/退房/结账</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/makeRoomPlan">发布房间计划</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/statistics">查看统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manager/modify">修改信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">退出登录</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Hostel World <small th:text=${branch.name}></small></h3>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">房间</label>
        <div class="col-sm-3">
            <label>类型</label>
        </div>
        <div class="col-sm-6">
            <label>价格</label>
        </div>
    </div>
    <form class="row" th:each="plan: ${plans}" style="margin: 20px 0;" method="post" action="/manager/makeRoomPlan">
        <input name="infoId" th:value="${plan.infoId}" hidden>
        <input name="number" th:value="${plan.number}" hidden>
        <label class="col-sm-3 col-form-label"  th:text="${plan.number}"></label>
            <div class="col-sm-3">
                <select type="text" class="form-control" th:value="${type}" id="type-field" name="type" >
                    <option th:text="${plan.type}" th:value="${plan.type}" selected></option>
                    <option th:each="type: ${types}" th:text="${type}" th:value="${type}"></option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="price-field" name="price" th:value="${plan.price}">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
    </form>
    <form class="row" style="margin: 20px 0;" method="post" action="/manager/addRoom">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="number">
        </div>
        <div class="col-sm-3">
            <select type="text" class="form-control" name="type">
                <option selected disabled="true"></option>
                <option th:each="type: ${types}" th:text="${type}" th:value="${type}"></option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="number" class="form-control" name="price">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">添加</button>
        </div>
    </form>

</div>

</body>
</html>